#contact-wrapper {
  margin: 20px auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#card {
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 80px 20px;
  padding: 35px 20px;
  width: 300px;
  height: 300px;
  background-color: var(--white);
  box-shadow: rgba(92, 82, 127, 0.1) 0px 8px 24px;
}

#card:hover {
  transition: all 1.5s ease;
  transform: scale(1.05);
}

.photo {
  width: 200px;
  margin-top: -50%;
  border-radius: 100%;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
} 
.name {
  margin: 25px;
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-dark);
}
.phone {
  font-size: 18px;
  color: var(--primary-light);
}
.email {
  font-size: 18px;
  color: var(--primary-light);
}